// estilos del mapa
#mapa {
  position: relative;
}

#pais {
  background-color: $color-white;
  mask-size: contain !important;
  -webkit-mask-size: contain !important;
  mask-repeat: no-repeat !important;
  -webkit-mask-repeat: no-repeat !important;
  mask-image: url("../img/venezuela.svg");
  -webkit-mask-image: url("../img/venezuela.svg");
  width: 628px;
  height: 539px;
}

.edo {
  background-color: $color-teal-lighten;
  mask-size: contain !important;
  -webkit-mask-size: contain !important;
  mask-repeat: no-repeat !important;
  -webkit-mask-repeat: no-repeat !important;
  cursor: pointer;
  position: absolute;
  z-index: 100;
  transition: all .5s ease;

  &:hover,
  &:focus,
  &.active {
    background-color: $color-teal !important;
  }
}

.img-edo{
  width: 33vh;
  height: 33vh;
  object-fit: cover;
}

// zoom a distrito capital
.zoom {
  border: 1px solid $color-white;
  border-radius: 50% 50% 50% 0;
  padding: 15px;
  left: 325px;
  top: 40px;
  position: absolute;
}
.zoom::before {
  content: "Dtto. Capital";
  position: absolute;
  color: $color-white;
  font-size: 15px;
  font-weight: bold;
  left: 35px;
  top: -5px;
}

// estados
.edo-anzoategui {
  mask-image: url(../img/edo-anzoategui.svg);
  -webkit-mask-image: url(../img/edo-anzoategui.svg);
  width: 138px;
  height: 120px;
  left: 368px;
  top: 93px;
}
.edo-aragua {
  mask-image: url(../img/edo-aragua.svg);
  -webkit-mask-image: url(../img/edo-aragua.svg);
  width: 60px;
  height: 52px;
  left: 268px;
  top: 80px;
}
.edo-barinas {
  mask-image: url(../img/edo-barinas.svg);
  -webkit-mask-image: url(../img/edo-barinas.svg);
  width: 180px;
  height: 79px;
  left: 102px;
  top: 150px;
}
.edo-bolivar {
  mask-image: url(../img/edo-bolivar.svg);
  -webkit-mask-image: url(../img/edo-bolivar.svg);
  width: 330px;
  height: 226px;
  left: 287px;
  top: 177px;
}
.edo-carabobo {
  mask-image: url(../img/edo-carabobo.svg);
  -webkit-mask-image: url(../img/edo-carabobo.svg);
  width: 39px;
  height: 34px;
  left: 242px;
  top: 77px;
}
.edo-dttocapital {
  mask-image: url(../img/edo-dttocapital.svg);
  -webkit-mask-image: url(../img/edo-dttocapital.svg);
  width: 21px;
  height: 26px;
  left: 330px;
  top: 50px;
}
.edo-esparta {
  mask-image: url(../img/edo-esparta.svg);
  -webkit-mask-image: url(../img/edo-esparta.svg);
  width: 26px;
  height: 18px;
  left: 429px;
  top: 49px;
}
.edo-guarico {
  mask-image: url(../img/edo-guarico.svg);
  -webkit-mask-image: url(../img/edo-guarico.svg);
  width: 148px;
  height: 110px;
  left: 261px;
  top: 104px;
}
.edo-lara {
  mask-image: url(../img/edo-lara.svg);
  -webkit-mask-image: url(../img/edo-lara.svg);
  width: 89px;
  height: 62px;
  left: 130px;
  top: 68px;
}
.edo-merida {
  mask-image: url(../img/edo-merida.svg);
  -webkit-mask-image: url(../img/edo-merida.svg);
  width: 61px;
  height: 76px;
  left: 82px;
  top: 135px;
}
.edo-miranda {
  mask-image: url(../img/edo-miranda.svg);
  -webkit-mask-image: url(../img/edo-miranda.svg);
  width: 81px;
  height: 32px;
  left: 299px;
  top: 74px;
}
.edo-monagas {
  mask-image: url(../img/edo-monagas.svg);
  -webkit-mask-image: url(../img/edo-monagas.svg);
  width: 93px;
  height: 88px;
  left: 444px;
  top: 90px;
}
.edo-portuguesa {
  mask-image: url(../img/edo-portuguesa.svg);
  -webkit-mask-image: url(../img/edo-portuguesa.svg);
  width: 72px;
  height: 79px;
  left: 162px;
  top: 112px;
}
.edo-tachira {
  mask-image: url(../img/edo-tachira.svg);
  -webkit-mask-image: url(../img/edo-tachira.svg);
  width: 50px;
  height: 56px;
  left: 54px;
  top: 170px;
}
.edo-trujillo {
  mask-image: url(../img/edo-trujillo.svg);
  -webkit-mask-image: url(../img/edo-trujillo.svg);
  width: 48px;
  height: 48px;
  left: 119px;
  top: 102px;
}
.edo-laguaira {
  mask-image: url(../img/edo-laguaira.svg);
  -webkit-mask-image: url(../img/edo-laguaira.svg);
  width: 50px;
  height: 10px;
  left: 290px;
  top: 74px;
}
.edo-zulia {
  mask-image: url(../img/edo-zulia.svg);
  -webkit-mask-image: url(../img/edo-zulia.svg);
  width: 126px;
  height: 161px;
  left: 12px;
  top: 18px;
}
