// Tipografías
$font-family: "Ubuntu", "Arial";

// Colores
$color-teal: #00bfa5;
$color-teal-lighten: #1de9b6;
$color-white: #fbfbfb;
$color-grey-darken: #212121;

$color-scrollbar-track: #c7d2fe; //200
$color-scrollbar-thumb: #6366f1; //500

// Responsive
$tablet: 768px;
$desktop: 1280px;

$padding-container: 2rem;
