@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");
@import "variables";
@import "materialize";
@import "map";

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-family;
  background-image: url("../img/wallpaper.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: $color-white;
}

li a:hover {
  color: $color-teal-lighten;
}

main {
  padding-bottom: 1rem;
  background-color: rgba($color-grey-darken, 0.5);
}

footer {
  text-align: center;
  text-shadow: 1px 1px $color-grey-darken;
}

// texto
a {
  transition: all 0.5s ease !important;
}
a:focus,
a:hover {
  text-decoration: none;
}

p {
  margin-top: 0;
}
ul {
  margin-bottom: 1em;
}

h1 {
  font-size: 23px !important;
  margin: 15px 0;
}
h2 {
  font-size: 23px !important;
}
h5 {
  font-size: 20px !important;
}

.title {
  margin: 2rem;
  text-align: center;

  * {
    margin: 0;
  }
  h4 {
    font-weight: 300;
  }
}

::selection {
  color: #fff;
  background: #673ab7;
}

Scrollbar body::-webkit-scrollbar-track {
  border: 5px solid $color-scrollbar-track;
  background-color: $color-scrollbar-track;
}
body::-webkit-scrollbar {
  width: 5px;
  background-color: $color-scrollbar-track;
}
body::-webkit-scrollbar-thumb {
  background-color: $color-scrollbar-thumb;
}
