<li>
  <div class="collapsible-header black-text">
    <span class="material-icons">room</span>
    Casco Central 
  </div>
  <div class="collapsible-body grey lighten-5 black-text">
    <p>
      Av. Boulevard 5 de Julio, Local Nro. 1, Zona Casco Central.
    </p>
    <ul>
      <li>Horario: 8:00am - 8:00pm</li>
      <li>Servicios: limpieza y reparación de teclados</li>
    </ul>
    <img src="img/tiendas/tienda (8).jpg" alt="..." class="img-edo" />
  </div>
</li>

<li>
  <div class="collapsible-header black-text">
    <span class="material-icons">room</span>
    Puerto La Cruz
  </div>
  <div class="collapsible-body grey lighten-5 black-text">
    <p>
      Calle Buenos Aires con calle Libertad, Local Nro. 48, Sector Centro, frente a la tienda Wrangler.
    </p>
    <ul>
        <li>Horario: 8:00am - 8:00pm</li>
        <li>Servicios: limpieza y reparación de teclados</li>
      </ul>
    <img src="img/tiendas/tienda (9).jpg" alt="..." class="img-edo" />
  </div>
</li>

<li>
  <div class="collapsible-header black-text">
    <span class="material-icons">room</span>
    C.C. Aventura Plaza
  </div>
  <div class="collapsible-body grey lighten-5 black-text">
    <p>
      Av. Diego Bautista Urbaneja, C.C. Aventura Plaza, PB, Local Nro. 22.
    </p>
    <ul>
        <li>Horario: 8:00am - 8:00pm</li>
        <li>Servicios: limpieza y reparación de teclados</li>
      </ul>
    <img src="img/tiendas/tienda (10).jpg" alt="..." class="img-edo" />
  </div>
</li>

<li>
  <div class="collapsible-header black-text">
    <span class="material-icons">room</span>
    Anaco
  </div>
  <div class="collapsible-body grey lighten-5 black-text">
    <p>
      Av. Miranda local 2-48, entre Av Bolívar y Av. Sucre, sector Las Parcelas 
    </p>
    <ul>
        <li>Horario: 8:00am - 8:00pm</li>
        <li>Servicios: limpieza y reparación de teclados</li>
      </ul>
    <img src="img/tiendas/tienda (11).jpg" alt="..." class="img-edo" />
  </div>
</li>

<li>
  <div class="collapsible-header black-text">
    <span class="material-icons">room</span>
    El Tigre
  </div>
  <div class="collapsible-body grey lighten-5 black-text">
    <p>
      Calle Miranda, Local Nro. 7, frente al Mercado Municipal.
    </p>
    <ul>
        <li>Horario: 8:00am - 8:00pm</li>
        <li>Servicios: limpieza y reparación de teclados</li>
      </ul>
    <img src="img/tiendas/tienda (12).jpg" alt="..." class="img-edo" />
  </div>
</li>
