<li>
    <div class="collapsible-header black-text">
      <span class="material-icons">room</span>
      C.C. Galería
    </div>
    <div class="collapsible-body grey lighten-5 black-text">
      <p>
        Sector Centro Maracay, calle Sánchez Carrero entre Bolívar y Miranda, frence al C.C. Galería, Local Nro. 3.
      </p>
      <ul>
        <li>Horario: 8:00am - 8:00pm</li>
        <li>Servicios: limpieza y reparación de teclados</li>
      </ul>
      <img src="img/tiendas/tienda (6).jpg" alt="..." class="img-edo" />
    </div>
  </li>
  
  <li>
    <div class="collapsible-header black-text">
      <span class="material-icons">room</span>
      La Victoria 
    </div>
    <div class="collapsible-body grey lighten-5 black-text">
      <p>
        Centro Cristal, Local comercial "B", Av. Victoria con 1er Callejón el Stadium. Al lado de la estación de servicio Soco.
      </p>
      <ul>
          <li>Horario: 8:00am - 8:00pm</li>
          <li>Servicios: limpieza y reparación de teclados</li>
        </ul>
      <img src="img/tiendas/tienda (7).jpg" alt="..." class="img-edo" />
    </div>
  </li>
  