<li>
  <div class="collapsible-header black-text">
    <span class="material-icons">room</span>
    C.C. Damasco
  </div>
  <div class="collapsible-body grey lighten-5 black-text">
    <p>
      Av. Cruz Paredes, C.C. Damasco, PB, Local Nro. 3.
    </p>
    <ul>
      <li>Horario: 8:00am - 8:00pm</li>
      <li>Servicios: limpieza y reparación de teclados</li>
    </ul>
    <img src="img/tiendas/tienda (31).jpg" alt="..." class="img-edo" />
  </div>
</li>

<li>
  <div class="collapsible-header black-text">
    <span class="material-icons">room</span>
    Socopó
  </div>
  <div class="collapsible-body grey lighten-5 black-text">
    <p>
      Carrera 7 La Kimil entre calle 1 y 2 Sector Centro, Parroquia Ticoporo, Municipio Antonio José de Sucre, Socopó.
    </p>
    <ul>
        <li>Horario: 8:00am - 8:00pm</li>
        <li>Servicios: limpieza y reparación de teclados</li>
      </ul>
    <img src="img/tiendas/tienda (32).jpg" alt="..." class="img-edo" />
  </div>
</li>
