<li>
  <div class="collapsible-header black-text">
    <span class="material-icons">room</span>
    San Félix
  </div>
  <div class="collapsible-body grey lighten-5 black-text">
    <p>Calle 4, antigua calle Ramírez, Edif. Calabreses, PB. Local S/N.</p>
    <ul>
      <li>Horario: 8:00am - 8:00pm</li>
      <li>Servicios: limpieza y reparación de teclados</li>
    </ul>
    <img src="img/tiendas/tienda (5).jpg" alt="..." class="img-edo" />
  </div>
</li>

<li>
  <div class="collapsible-header black-text">
    <span class="material-icons">room</span>
    Puerto Ordaz
  </div>
  <div class="collapsible-body grey lighten-5 black-text">
    <p>
      Sector Alta Vista, Calle Caura y Cuchivero, C.C. Alta Vista, PB, Local
      Nro. 101.
    </p>
    <ul>
      <li>Horario: 8:00am - 8:00pm</li>
      <li>Servicios: limpieza y reparación de teclados</li>
    </ul>
    <img src="img/tiendas/tienda (4).jpg" alt="..." class="img-edo" />
  </div>
</li>

<li>
  <div class="collapsible-header black-text">
    <span class="material-icons">room</span>
    Ciudad Bolívar
  </div>
  <div class="collapsible-body grey lighten-5 black-text">
    <p>Calle Venezuela entre Dala Costa, Edif. Luzitone.</p>
    <ul>
      <li>Horario: 8:00am - 8:00pm</li>
      <li>Servicios: limpieza y reparación de teclados</li>
    </ul>
    <img src="img/tiendas/tienda (3).jpg" alt="..." class="img-edo" />
  </div>
</li>

<li>
  <div class="collapsible-header black-text">
    <span class="material-icons">room</span>
    Bolívar
  </div>
  <div class="collapsible-body grey lighten-5 black-text">
    <p>
      Av. Las Américas, Urb. Villa América, C.C Orinokia Mall, Edif. A, P.B
      local J-174
    </p>
    <ul>
      <li>Horario: 8:00am - 8:00pm</li>
      <li>Servicios: limpieza y reparación de teclados</li>
    </ul>
    <img src="img/tiendas/tienda (2).jpg" alt="..." class="img-edo" />
  </div>
</li>

<li>
  <div class="collapsible-header black-text">
    <span class="material-icons">room</span>
    Upata
  </div>
  <div class="collapsible-body grey lighten-5 black-text">
    <p>
      Calle Miranda. Mini Centro Comercial La Suerte del Casco Central, Ciudad
      de Upata, Municipio Piar
    </p>
    <ul>
      <li>Horario: 8:00am - 8:00pm</li>
      <li>Servicios: limpieza y reparación de teclados</li>
    </ul>
    <img src="img/tiendas/tienda (1).jpg" alt="..." class="img-edo" />
  </div>
</li>
