<li>
  <div class="collapsible-header black-text">
    <span class="material-icons">room</span>
    Valencia
  </div>
  <div class="collapsible-body grey lighten-5 black-text">
    <p>Av. Bolívar Norte, C.C. Cedeño, PB, Local Nro. 00.</p>
    <ul>
      <li>Horario: 8:00am - 8:00pm</li>
      <li>Servicios: limpieza y reparación de teclados</li>
    </ul>
    <img src="img/tiendas/tienda (2).jpg" alt="..." class="img-edo" />
  </div>
</li>

<li>
  <div class="collapsible-header black-text">
    <span class="material-icons">room</span>
    Tocuyito
  </div>
  <div class="collapsible-body grey lighten-5 black-text">
    <p>Casco Central Tocuyito, Calle Sucre, Local Nro. 500.</p>
    <ul>
      <li>Horario: 8:00am - 8:00pm</li>
      <li>Servicios: limpieza y reparación de teclados</li>
    </ul>
    <img src="img/tiendas/tienda (4).jpg" alt="..." class="img-edo" />
  </div>
</li>

<li>
  <div class="collapsible-header black-text">
    <span class="material-icons">room</span>
    Naguanagua
  </div>
  <div class="collapsible-body grey lighten-5 black-text">
    <p>
      Urb. Ciudad Jardín Mañongo, Av. 0, C.C. Sambil Valencia, PB, Local A-00.
    </p>
    <ul>
      <li>Horario: 8:00am - 8:00pm</li>
      <li>Servicios: limpieza y reparación de teclados</li>
    </ul>
    <img src="img/tiendas/tienda (6).jpg" alt="..." class="img-edo" />
  </div>
</li>

<li>
  <div class="collapsible-header black-text">
    <span class="material-icons">room</span>
    Puerto Cabello
  </div>
  <div class="collapsible-body grey lighten-5 black-text">
    <p>
      Casco Central de Puerto Cabello, Av. Calle 14 Urdaneta, frente al C.C.
      América, Local Nro. 7-2.
    </p>
    <ul>
      <li>Horario: 8:00am - 8:00pm</li>
      <li>Servicios: limpieza y reparación de teclados</li>
    </ul>
    <img src="img/tiendas/tienda (8).jpg" alt="..." class="img-edo" />
  </div>
</li>

<li>
  <div class="collapsible-header black-text">
    <span class="material-icons">room</span>
    Boulevar Valencia
  </div>
  <div class="collapsible-body grey lighten-5 black-text">
    <p>Calle Páez crece con Consititución Nro. 100-5</p>
    <ul>
      <li>Horario: 8:00am - 8:00pm</li>
      <li>Servicios: limpieza y reparación de teclados</li>
    </ul>
    <img src="img/tiendas/tienda (10).jpg" alt="..." class="img-edo" />
  </div>
</li>
