<li>
  <div class="collapsible-header black-text">
    <span class="material-icons">room</span>
    Av. Urdaneta
  </div>
  <div class="collapsible-body grey lighten-5 black-text">
    <p>
      Av. Urdaneta, esquina La Pelota e Ibarra, Edif. Centro Profesional
      Urdaneta, frente a McDonald’s.
    </p>
    <ul>
      <li>Horario: 8:00am - 8:00pm</li>
      <li>Servicios: limpieza y reparación de teclados</li>
    </ul>
    <img src="img/tiendas/tienda (1).jpg" alt="..." class="img-edo" />
  </div>
</li>

<li>
  <div class="collapsible-header black-text">
    <span class="material-icons">room</span>
    C.C. City Market
  </div>
  <div class="collapsible-body grey lighten-5 black-text">
    <p>
      Boulevard de Sabana Grande, C.C. City Market, Nivel Feria, Local Nro. 00.
    </p>
    <ul>
        <li>Horario: 8:00am - 8:00pm</li>
        <li>Servicios: limpieza y reparación de teclados</li>
      </ul>
    <img src="img/tiendas/tienda (2).jpg" alt="..." class="img-edo" />
  </div>
</li>

<li>
  <div class="collapsible-header black-text">
    <span class="material-icons">room</span>
    Catia
  </div>
  <div class="collapsible-body grey lighten-5 black-text">
    <p>
      2da. Av. de la Panamericana entre Calle Colombia y Argentina, Qta. El
      Milagro, Local Nro. 00.
    </p>
    <ul>
        <li>Horario: 8:00am - 8:00pm</li>
        <li>Servicios: limpieza y reparación de teclados</li>
      </ul>
    <img src="img/tiendas/tienda (3).jpg" alt="..." class="img-edo" />
  </div>
</li>

<li>
  <div class="collapsible-header black-text">
    <span class="material-icons">room</span>
    Chacaito
  </div>
  <div class="collapsible-body grey lighten-5 black-text">
    <p>
      Boulevard de Sabana Grande, C.C. City Market, PB, Local Nro. 114, al lado
      de la tienda Alú.
    </p>
    <ul>
        <li>Horario: 8:00am - 8:00pm</li>
        <li>Servicios: limpieza y reparación de teclados</li>
      </ul>
    <img src="img/tiendas/tienda (4).jpg" alt="..." class="img-edo" />
  </div>
</li>

<li>
  <div class="collapsible-header black-text">
    <span class="material-icons">room</span>
    C.C. Sabana Grande
  </div>
  <div class="collapsible-body grey lighten-5 black-text">
    <p>
      Boulevard de Sabana Grande, C.C. Sabana Grande, Av. Abraham Lincoln
      diagonal a la heladería La Poma, Nivel Mezzanina.
    </p>
    <ul>
        <li>Horario: 8:00am - 8:00pm</li>
        <li>Servicios: limpieza y reparación de teclados</li>
      </ul>
    <img src="img/tiendas/tienda (5).jpg" alt="..." class="img-edo" />
  </div>
</li>
