<li>
  <div class="collapsible-header black-text">
    <span class="material-icons">room</span>
    Margarita
  </div>
  <div class="collapsible-body grey lighten-5 black-text">
    <p>
      Porlamar, Calle Velázquez entre Fraternidad y Fajardo, A media cuadra del C.C. Concor
    </p>
    <ul>
      <li>Horario: 8:00am - 8:00pm</li>
      <li>Servicios: limpieza y reparación de teclados</li>
    </ul>
    <img src="img/tiendas/tienda (10).jpg" alt="..." class="img-edo" />
  </div>
</li>

<li>
  <div class="collapsible-header black-text">
    <span class="material-icons">room</span>
    Porlamar
  </div>
  <div class="collapsible-body grey lighten-5 black-text">
    <p>
      Calle igualdad entre calle libertad y calle arismendi, sector centro, Porlamar, Nueva Esparta.
    </p>
    <ul>
        <li>Horario: 8:00am - 8:00pm</li>
        <li>Servicios: limpieza y reparación de teclados</li>
      </ul>
    <img src="img/tiendas/tienda (9).jpg" alt="..." class="img-edo" />
  </div>
</li>

<li>
  <div class="collapsible-header black-text">
    <span class="material-icons">room</span>
    Pampatar
  </div>
  <div class="collapsible-body grey lighten-5 black-text">
    <p>
      Av. Jovito Villalba, Centro  Comercial Sambil, Nivel Único. Entrada playa La Restinga, Local K-25
    </p>
    <ul>
        <li>Horario: 8:00am - 8:00pm</li>
        <li>Servicios: limpieza y reparación de teclados</li>
      </ul>
    <img src="img/tiendas/tienda (8).jpg" alt="..." class="img-edo" />
  </div>
</li>
