<li>
  <div class="collapsible-header black-text">
    <span class="material-icons">room</span>
    Calabozo
  </div>
  <div class="collapsible-body grey lighten-5 black-text">
    <p>
      Casco Central de Calabozo,  Carrera 12 esquina calle 9
    </p>
    <ul>
      <li>Horario: 8:00am - 8:00pm</li>
      <li>Servicios: limpieza y reparación de teclados</li>
    </ul>
    <img src="img/tiendas/tienda (20).jpg" alt="..." class="img-edo" />
  </div>
</li>

<li>
  <div class="collapsible-header black-text">
    <span class="material-icons">room</span>
    Valle de la Pascua
  </div>
  <div class="collapsible-body grey lighten-5 black-text">
    <p>
      Av. Rómulo Gallegos con Calle Retumbo, al lado de la Farmacia Divino Niño.
    </p>
    <ul>
        <li>Horario: 8:00am - 8:00pm</li>
        <li>Servicios: limpieza y reparación de teclados</li>
      </ul>
    <img src="img/tiendas/tienda (19).jpg" alt="..." class="img-edo" />
  </div>
</li>

<li>
  <div class="collapsible-header black-text">
    <span class="material-icons">room</span>
    San Juan de los Morros
  </div>
  <div class="collapsible-body grey lighten-5 black-text">
    <p>
      Av. Bolívar frente a la estación de servicio Imataca.
    </p>
    <ul>
        <li>Horario: 8:00am - 8:00pm</li>
        <li>Servicios: limpieza y reparación de teclados</li>
      </ul>
    <img src="img/tiendas/tienda (18).jpg" alt="..." class="img-edo" />
  </div>
</li>
