<li>
  <div class="collapsible-header black-text">
    <span class="material-icons">room</span>
    Nueva Segovia
  </div>
  <div class="collapsible-body grey lighten-5 black-text">
    <p>
      Carrera 1 entre calles 3 y 4 el llanero nivel PB local D1 Urb Nueva
      Segovia.
    </p>
    <ul>
      <li>Horario: 8:00am - 8:00pm</li>
      <li>Servicios: limpieza y reparación de teclados</li>
    </ul>
    <img src="img/tiendas/tienda (1).jpg" alt="..." class="img-edo" />
  </div>
</li>

<li>
  <div class="collapsible-header black-text">
    <span class="material-icons">room</span>
    C.C. Sambil Barquisimeto
  </div>
  <div class="collapsible-body grey lighten-5 black-text">
    <p>
      Av. Venezuela con Av. Bracamonte y Av. Críspulo Benítez, C.C. Sambil
      Barquisimeto, Local L-92.
    </p>
    <ul>
      <li>Horario: 8:00am - 8:00pm</li>
      <li>Servicios: limpieza y reparación de teclados</li>
    </ul>
    <img src="img/tiendas/tienda (3).jpg" alt="..." class="img-edo" />
  </div>
</li>

<li>
  <div class="collapsible-header black-text">
    <span class="material-icons">room</span>
    Carora
  </div>
  <div class="collapsible-body grey lighten-5 black-text">
    <p>C. C. Cosmos. Carrera 22 entre calle 25 y 26. Planta Baja. Local 0B-0</p>
    <ul>
      <li>Horario: 8:00am - 8:00pm</li>
      <li>Servicios: limpieza y reparación de teclados</li>
    </ul>
    <img src="img/tiendas/tienda (3).jpg" alt="..." class="img-edo" />
  </div>
</li>

<li>
  <div class="collapsible-header black-text">
    <span class="material-icons">room</span>
    Cabudare
  </div>
  <div class="collapsible-body grey lighten-5 black-text">
    <p>Av. Libertador con Calle Guillermo Alvizu.</p>
    <ul>
      <li>Horario: 8:00am - 8:00pm</li>
      <li>Servicios: limpieza y reparación de teclados</li>
    </ul>
    <img src="img/tiendas/tienda (5).jpg" alt="..." class="img-edo" />
  </div>
</li>

<li>
  <div class="collapsible-header black-text">
    <span class="material-icons">room</span>
    Tocuyo
  </div>
  <div class="collapsible-body grey lighten-5 black-text">
    <p>
      Av. Lisandro Alvarado,entre calles 12 y 13, sector centro. Edificio Don
      Vicente, local Nro.2.
    </p>
    <ul>
      <li>Horario: 8:00am - 8:00pm</li>
      <li>Servicios: limpieza y reparación de teclados</li>
    </ul>
    <img src="img/tiendas/tienda (7).jpg" alt="..." class="img-edo" />
  </div>
</li>
