<li>
  <div class="collapsible-header black-text">
    <span class="material-icons">room</span>
    Mérida
  </div>
  <div class="collapsible-body grey lighten-5 black-text">
    <p>Calle 25 entre avenidas 3 y 4. Casa planta baja 3-45 Local N°1.</p>
    <ul>
      <li>Horario: 8:00am - 8:00pm</li>
      <li>Servicios: limpieza y reparación de teclados</li>
    </ul>
    <img src="img/tiendas/tienda (25).jpg" alt="..." class="img-edo" />
  </div>
</li>

<li>
  <div class="collapsible-header black-text">
    <span class="material-icons">room</span>
    El Vigía
  </div>
  <div class="collapsible-body grey lighten-5 black-text">
    <p>
      Calle 14 con avenida 04 local la colonia N° 03 sector centro el vigia.
    </p>
    <ul>
      <li>Horario: 8:00am - 8:00pm</li>
      <li>Servicios: limpieza y reparación de teclados</li>
    </ul>
    <img src="img/tiendas/tienda (26).jpg" alt="..." class="img-edo" />
  </div>
</li>
