<li>
  <div class="collapsible-header black-text">
    <span class="material-icons">room</span>
    Edificio Conteca
  </div>
  <div class="collapsible-body grey lighten-5 black-text">
    <p>Calle Miquilen, Edificio Conteca PB, Local 11. Sector El Llano</p>
    <ul>
      <li>Horario: 8:00am - 8:00pm</li>
      <li>Servicios: limpieza y reparación de teclados</li>
    </ul>
    <img src="img/tiendas/tienda (16).jpg" alt="..." class="img-edo" />
  </div>
</li>

<li>
  <div class="collapsible-header black-text">
    <span class="material-icons">room</span>
    Los Cortijos de Lourdes
  </div>
  <div class="collapsible-body grey lighten-5 black-text">
    <p>
      Av. Ppal. de Los Cortijos de Lourdes entre 3ra Transversal y autopista,
      Piso 1.Edif. Los Hermanos. Piso 1.
    </p>
    <ul>
      <li>Horario: 8:00am - 8:00pm</li>
      <li>Servicios: limpieza y reparación de teclados</li>
    </ul>
    <img src="img/tiendas/tienda (17).jpg" alt="..." class="img-edo" />
  </div>
</li>

<li>
  <div class="collapsible-header black-text">
    <span class="material-icons">room</span>
    Guarenas
  </div>
  <div class="collapsible-body grey lighten-5 black-text">
    <p>
      Sector la llanada , calle comercio cruce con calle Andrés Bello guarenas
      (boulevard)
    </p>
    <ul>
      <li>Horario: 8:00am - 8:00pm</li>
      <li>Servicios: limpieza y reparación de teclados</li>
    </ul>
    <img src="img/tiendas/tienda (18).jpg" alt="..." class="img-edo" />
  </div>
</li>

<li>
  <div class="collapsible-header black-text">
    <span class="material-icons">room</span>
    Guatire
  </div>
  <div class="collapsible-body grey lighten-5 black-text">
    <p>Calle Bermúdez a 10 locales de la Cruz</p>
    <ul>
      <li>Horario: 8:00am - 8:00pm</li>
      <li>Servicios: limpieza y reparación de teclados</li>
    </ul>
    <img src="img/tiendas/tienda (19).jpg" alt="..." class="img-edo" />
  </div>
</li>

<li>
  <div class="collapsible-header black-text">
    <span class="material-icons">room</span>
    Charallave
  </div>
  <div class="collapsible-body grey lighten-5 black-text">
    <p>
      Av. Bolívar, Calle Zamora, Local N° 7-90, Sector Casco Central, Ppal.
      Pueblo Abajo
    </p>
    <ul>
      <li>Horario: 8:00am - 8:00pm</li>
      <li>Servicios: limpieza y reparación de teclados</li>
    </ul>
    <img src="img/tiendas/tienda (20).jpg" alt="..." class="img-edo" />
  </div>
</li>
