<li>
  <div class="collapsible-header black-text">
    <span class="material-icons">room</span>
    Maturin
  </div>
  <div class="collapsible-body grey lighten-5 black-text">
    <p>
      Calle Monagas entre Boulevard y Av. Miranda. Diagonal a la antigua Fiscalía. 
    </p>
    <ul>
      <li>Horario: 8:00am - 8:00pm</li>
      <li>Servicios: limpieza y reparación de teclados</li>
    </ul>
    <img src="img/tiendas/tienda (32).jpg" alt="..." class="img-edo" />
  </div>
</li>
