<li>
  <div class="collapsible-header black-text">
    <span class="material-icons">room</span>
    Acarigua
  </div>
  <div class="collapsible-body grey lighten-5 black-text">
    <p>
      Av. 33 con calle . C.C. Latín Center.
    </p>
    <ul>
      <li>Horario: 8:00am - 8:00pm</li>
      <li>Servicios: limpieza y reparación de teclados</li>
    </ul>
    <img src="img/tiendas/tienda (27).jpg" alt="..." class="img-edo" />
  </div>
</li>

<li>
  <div class="collapsible-header black-text">
    <span class="material-icons">room</span>
    Guanare
  </div>
  <div class="collapsible-body grey lighten-5 black-text">
    <p>
      Edificio Ziad, carrera 6ta entre calle de 00 y 00 
    </p>
    <ul>
        <li>Horario: 8:00am - 8:00pm</li>
        <li>Servicios: limpieza y reparación de teclados</li>
      </ul>
    <img src="img/tiendas/tienda (28).jpg" alt="..." class="img-edo" />
  </div>
</li>
