<li>
  <div class="collapsible-header black-text">
    <span class="material-icons">room</span>
    San Cristóbal
  </div>
  <div class="collapsible-body grey lighten-5 black-text">
    <p>
      Centro Cívico. Séptima avenida, sector Centro. Al lado de la Plaza Bolívar
    </p>
    <ul>
      <li>Horario: 8:00am - 8:00pm</li>
      <li>Servicios: limpieza y reparación de teclados</li>
    </ul>
    <img src="img/tiendas/tienda (30).jpg" alt="..." class="img-edo" />
  </div>
</li>
