<li>
  <div class="collapsible-header black-text">
    <span class="material-icons">room</span>
    Valera
  </div>
  <div class="collapsible-body grey lighten-5 black-text">
    <p>
      Calle 9 entre Av. 10 y 11. Sector Centro, detrás de Dorsay.
    </p>
    <ul>
      <li>Horario: 8:00am - 8:00pm</li>
      <li>Servicios: limpieza y reparación de teclados</li>
    </ul>
    <img src="img/tiendas/tienda (29).jpg" alt="..." class="img-edo" />
  </div>
</li>

<li>
  <div class="collapsible-header black-text">
    <span class="material-icons">room</span>
    Boconó 
  </div>
  <div class="collapsible-body grey lighten-5 black-text">
    <p>
      Av. independencia número #5-35 entre calle Jauregui y calle Bolívar Boconó
    </p>
    <ul>
        <li>Horario: 8:00am - 8:00pm</li>
        <li>Servicios: limpieza y reparación de teclados</li>
      </ul>
    <img src="img/tiendas/tienda (30).jpg" alt="..." class="img-edo" />
  </div>
</li>
