<li>
  <div class="collapsible-header black-text">
    <span class="material-icons">room</span>
    Bingo Reina
  </div>
  <div class="collapsible-body grey lighten-5 black-text">
    <p>Av. Libertador, local bodega 8-54 N° 07 Casco Central.</p>
    <ul>
      <li>Horario: 8:00am - 8:00pm</li>
      <li>Servicios: limpieza y reparación de teclados</li>
    </ul>
    <img src="img/tiendas/tienda (21).jpg" alt="..." class="img-edo" />
  </div>
</li>

<li>
  <div class="collapsible-header black-text">
    <span class="material-icons">room</span>
    Maracaibo
  </div>
  <div class="collapsible-body grey lighten-5 black-text">
    <p>C. C. Gran Bazar. PB. Local ML-102.</p>
    <ul>
      <li>Horario: 8:00am - 8:00pm</li>
      <li>Servicios: limpieza y reparación de teclados</li>
    </ul>
    <img src="img/tiendas/tienda (22).jpg" alt="..." class="img-edo" />
  </div>
</li>

<li>
  <div class="collapsible-header black-text">
    <span class="material-icons">room</span>
    Sambil Maracaibo
  </div>
  <div class="collapsible-body grey lighten-5 black-text">
    <p>
      Sambil Maracaibo: Av. Guajira, diagonal a la entrada indio Mara, C.C
      Sambil, nivel Lago, local A-000.
    </p>
    <ul>
      <li>Horario: 8:00am - 8:00pm</li>
      <li>Servicios: limpieza y reparación de teclados</li>
    </ul>
    <img src="img/tiendas/tienda (23).jpg" alt="..." class="img-edo" />
  </div>
</li>

<li>
  <div class="collapsible-header black-text">
    <span class="material-icons">room</span>
    Cabimas
  </div>
  <div class="collapsible-body grey lighten-5 black-text">
    <p>Av. principal Casco Central diagonal a C.C. Familia local 0.</p>
    <ul>
      <li>Horario: 8:00am - 8:00pm</li>
      <li>Servicios: limpieza y reparación de teclados</li>
    </ul>
    <img src="img/tiendas/tienda (24).jpg" alt="..." class="img-edo" />
  </div>
</li>

<li>
  <div class="collapsible-header black-text">
    <span class="material-icons">room</span>
    Ciudad Ojeda
  </div>
  <div class="collapsible-body grey lighten-5 black-text">
    <p>
      Av. Bolívar, Centro Comercial Mi Encanto, diagonal a la antigua Gina.
      Local 5
    </p>
    <ul>
      <li>Horario: 8:00am - 8:00pm</li>
      <li>Servicios: limpieza y reparación de teclados</li>
    </ul>
    <img src="img/tiendas/tienda (25).jpg" alt="..." class="img-edo" />
  </div>
</li>
